<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nutrient Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Foods Rich in <%= nutrient %>:</h2>
        <p><%= foods %></p>
        <a href="javascript:history.back()" class="btn btn-secondary mt-3">Back</a>
    </div>
</body>
</html>
